PORT=3000
LOG_LEVEL="info"

DATABASE_URL="postgresql://pguser:pgpassword@database:5432/database"

CACHE_URL="redis://valkeyuser:valkeypassword@localhost:6379/0"

QUEUE_URL="redis://queueuser:queuepassword@queue-cache:6379/0"

JWT_SECRET="openssl rand -hex 16"
JWT_DURATION="1d"

GOOGLE_CLIENT_ID="<id>.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-<secret>"
